body{
	padding: 0;
	width: 100%;
	margin: 0;
}

.container{
	width: 100%;
    display: block;
    overflow-x: hidden;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    margin-right: 0;
    padding-right: 0;
    margin-top: 0;
    padding-top: 0;
}

.row{
	margin-top: 0;
	padding-top: 0;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 20px;
}

hr{
	background-color: white;
	height: 2px;
	width: 30%;
	border: none;
}

a{
	text-decoration: none;
	color: black;
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.h2-connect {
	font-size: 40px;
	color: white;
}

span.link-text {
	font-size: 14px;
}

ul.list-inline {
	margin-bottom: 0;
}
.h2-connect {
	text-shadow: 2px 2px 4px #000000;
	margin: 0;
}

.connect-start {
	background-image: url("../img/banner-bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0;
	padding-top: 6em;
	padding-bottom: 6em;
}

.footer {
	margin: 5em auto;
}